In [1]:
x=5
y=2

In [2]:
x>y

True

In [3]:
False and True

False

In [4]:
not 1==1

False

In [5]:
not 1==2

True

In [14]:
my_superhero="Batman"

In [15]:
my_superhero=="Batman"

True

In [16]:
my_superhero=="Superman"

False

In [17]:
if my_superhero=="Batman":
    print("batmannnn")
    print("ege karaduman")
########-------------#######
print("Helloo python")

batmannnn
ege karaduman
Helloo python

In [46]:
my_superhero=input("enter superhero:")

enter superhero:sadasd

In [48]:
if my_superhero=="Superman":
    print("Superman")
elif my_superhero=="Batman":
    print("Batman")
elif my_superhero=="Ironman":
    print("Ironman")
else:
    print(":(")

:(

In [58]:
my_superhero=input("enter superhero:")

enter superhero:BW

In [59]:
my_superhero_list=["Spiderman","Ironman","Thor","BW"]

In [60]:
if my_superhero in my_superhero_list:
    print(":)")
else:
    print(":(")

:)

In [61]:
#for loop,while loop

In [62]:
my_list=[10,20,30,40,50,60,70,]

In [64]:
my_list[0]*2

20

In [65]:
10/5*2

4.0

In [77]:
for num in my_list:
    print(num)

10
20
30
40
50
60
70

In [78]:
type(my_list[0])

int

In [79]:
type(my_list)

list

In [80]:
for x in my_list:
    new_number=x/5*2
    print(new_number)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [81]:
liste =[1,2,3,4,5,6,7,8,9]

In [102]:
print("Rakamların Kare ve Küpleri")
print("Karesi:")
for t in liste:
    karesi=t*t
    print(karesi)
print("Küpü:")
for t in liste:
    küpü=t*t*t
    print(küpü)

Rakamların Kare ve Küpleri
Karesi:
1
4
9
16
25
36
49
64
81
Küpü:
1
8
27
64
125
216
343
512
729

In [103]:
my_list=[10,20,30,40,50,60,70]

In [104]:
my_list

[10, 20, 30, 40, 50, 60, 70]

In [120]:
for x in my_list:
    if x %6==0:
        print(x)

30
60

In [121]:
number_list=[1,2,3,4,5,6,7,8,9,10]

In [123]:
for num in number_list:
    if num %2==0:
        print(num)
        print("çift")
    else:
        print(num)
        print("tek")

1
tek
2
çift
3
tek
4
çift
5
tek
6
çift
7
tek
8
çift
9
tek
10
çift

In [124]:
asd ="ege karaduman"

In [125]:
for c in asd:
    print(c)

e
g
e

k
a
r
a
d
u
m
a
n

In [126]:
my_new_list=[("a","b"),("c","d"),("e","f"),("g","h")]

In [127]:
len(my_new_list)

4

In [128]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [129]:
#tuple unpacking

In [134]:
my_new_list[3][0]

'g'

In [137]:
for (x,y) in my_new_list:
    print(x,y)

a b
c d
e f
g h

In [139]:
my_set={1,2,3,4,5}

In [140]:
for num in my_set:
    print(num)

1
2
3
4
5

In [141]:
my_dictionary={"k1":100,"k2":200,"k3":300}

In [143]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [146]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [148]:
for(key,value) in my_dictionary.items():
    print(value)

100
200
300

In [149]:
my_list=[10,20,30,40,50,60,70]

In [150]:
my_list

[10, 20, 30, 40, 50, 60, 70]

In [152]:
for num in my_list:
    if num==40:
        print("yes")

yes

In [160]:
for num in my_list:
    if num%2==0:
        print(num)
        print("çift")
    else:
        print("tel")

10
çift
20
çift
30
çift
40
çift
50
çift
60
çift
70
çift

In [166]:
for number in my_list:
    print(number)
    if number==40:
        print("yes")
        break

10
20
30
40
yes

In [167]:
for num in my_list:
    print(num)
    if number==40:
        print("yes")
        continue

10
yes
20
yes
30
yes
40
yes
50
yes
60
yes
70
yes

In [173]:
my_list=[10,20,30,40,50,60,70]

In [174]:
for number in my_list:
    print(number)
    if number==40:
        continue
        print("yes")

10
20
30
40
50
60
70

In [ ]:
x=0

In [ ]:
while x<10:
    print(x)
    x=x+1